site_name: Second Docs
repo_url: https://github.com/Mercs-MSA/Second

theme:
  name: material
  logo: media/logos/header.svg
  language: en
  features:
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - navigation.top
    - navigation.instant
    - navigation.instant.progress
    - navigation.footer
    - navigation.indexes
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: red
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: red
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: red
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
nav:
  - index.md
  - Software and Account Setup:
    - Google Sheet and Account Setup:
        - google_setup/account.md
        - google_setup/sheet.md
    - Installation:
        - install/index.md
        - install/android.md
        - install/rpi.md
    - Configuration:
        - config/index.md
        - config/androidlock.md
    - User Interface:
        - ui/home.md
        - ui/member.md
  - Hardware Setup:
    - RFID Hardware: rfid.md
  - limitations.md
extra:
  version:
    provider: mike

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.critic
  - attr_list
  - md_in_html
  - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg